body{   
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;              
            }
            main{
                position: relative;
                width: 1300px;
                height: 500px;
                background-image: url(image/caodi.png);
                background-size: contain;
                background-repeat: no-repeat;
                min-width: 1300px;

              
            }
            div:nth-child(1){
                position: absolute;
                left: 265px;
                top: 50px;
                width: 350px;
                height: 350px;
                background-image: url(image/fengche.png);
                background-size: contain;
                animation-name: xuanzhuan;
                animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                
            }
            div:nth-child(2){
                position: absolute;
                top: 270px;
                left: 583px;
                width: 165px;
                height: 165px;
                background-image: url(image/fengche.png);
                background-size: contain;
                background-repeat: no-repeat;
                animation: xuanzhuan 3s linear infinite;
            }
            div:nth-child(3){
                position: absolute;
                top: 190px;
                left: 728px;
                width: 250px;
                height: 250px;
                background-image: url(image/fengche.png);
                background-size: contain;
                background-repeat: no-repeat;
                animation: xuanzhuan 3s linear infinite;
            }
            div:hover{
                animation-duration: 1.5s;
            }
            div:active{
                animation: none;
           
            }
            @keyframes xuanzhuan{
                0%{
                    transform: rotate(0);

                }
                100%{
                    transform: rotate(360deg);

                }
            }
